@use '../base/variables' as v;

.error,
.succeed {
  text-align: center;
  padding: 0.8rem;
  margin: 1rem 0;
  font-weight: bolder;

  &:last-of-type {
    margin-bottom: 2rem;
  }
}

.error {
  background-color: v.$red;
}
.succeed {
  background-color: v.$green;
}