@use '../base/variables' as v;
@use '../base/mixins' as m;

.apointments {
  list-style: none;
  padding: none;

  li {
    padding: 1rem;
    border-top: 1px solid v.$white;
  }
  p {
    font-weight: v.$bold;
  }
  span {
    font-weight: v.$regular;
    color: v.$blue;
  }

  .service {
    font-weight: v.$regular;
    color: v.$blue;
    text-align: center;
    background: v.$white;
    border-radius: 1rem;
    padding: 1rem;
  }

  .total {
    background: v.$gray;
    padding: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    color: v.$dark;
  }
}

.services {
  @extend .apointments; 
  .actions {
    margin: 0 0 2rem 0;
    
    .button, .delete-button {
      margin: 0;
    }
  }
}
